.blue_border{
    border: 2px dotted blue;
}
.card{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.profile_pic{
    width: 150px;
    /* margin: 30px; */
}
