/* .blue_border{
    border: 2px dotted blue;
} */
.card{
    width: 400px;
    /* margin-left: auto;
    margin-right: auto; */
    margin : 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #2b3839;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddebf8;
    border-bottom: 6px solid #d8cefe;
}

.profile_pic{
    width: 150px;
    border-radius: 100px;
    /* margin: 30px; */
}
