body{
    text-align: center;
    font-family: 'Orbitron','sans-serif';
    margin: 0;
}


.header{
    background-image: url("/images/space.jpg");
    background-size: cover;
    color: aliceblue;
    /* padding-right: 150px;
    padding-left: 150px;
    padding-top: 30px;
    padding-bottom: 200px; */
    padding : 30px 0 200px 0 
}

.btn{
    background: white;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    font-family: inherit;
}

.underline{
    border-bottom: 4px solid white;
}

#logo{
    width: 100px;
}