body{
    background-image: url("/images/space.jpg");
    background-size: cover;
    color: aliceblue;
    text-align: center;
    font-family: 'Orbitron','sans-serif';
}

.btn{
    background: white;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    font-family: inherit;
}