@font-face {
    font-family: HappyMonkey-Regular;
    src: url("/Happy_Monkey/HappyMonkey-Regular.ttf");
}
body{
    background-color: #a2d2ff;
    text-align: center;
    font-family: HappyMonkey-Regular;
    color: white;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pic{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: #EFB0C9 solid 6px;
}

h1,h2,h3,h4,p{
    text-shadow: 0px 0px 1px black;
}
#bday-date{
    background-color: #EFB0C9;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

#bday-age{
    margin: 0;
    background-color: #EFB0C9;
    padding: 5px 10px;
    border-radius: 10px;
}

.gift-img{
    width: 400px;
}