@font-face {
    font-family: HappyMonkey-Regular;
    src: url("/Happy_Monkey/HappyMonkey-Regular.ttf");
}
body{
    /* background-color: #a2d2ff; */
    background:linear-gradient(rgb(87, 184, 245),rgb(20, 169, 199));
    text-align: center;
    font-family: HappyMonkey-Regular;
    color: white;
}

.main,.gift-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pic{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: #EFB0C9 solid 6px;
}

h1,h2,h3,h4,p{
    text-shadow: 0px 0px 1px black;
}
#bday-date{
    background-color: #EFB0C9;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

#bday-age{
    margin: 0;
    background-color: #EFB0C9;
    padding: 5px 10px;
    border-radius: 10px;
}

.gift-img{
    border: 2px solid white;
    border-radius: 15px;
    height: 400px;
    width: 400px;
    background-image: url("/images/gift.webp");
    background-size: cover;
}

#gift-img-happy:hover{
    background-image: url("/images/happy.gif");
}

#gift-img-hot:hover{
    background-image: url("/images/cheer.gif");
}

#gift-img-handsome:hover{
    background-image: url("/images/handsome.gif");
}

#gift-img-cheers:hover{
    background-image: url("/images/bday.gif");
}