.card{
    color: black;
    background-color: lightgray;
    width: 300;
    /* margin */
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    /* border */
    border: 5px solid black;
    border-radius: 20px;

    /* padding */
    padding: 20px;
}