.card{
    color: black;
    background-color: lightgray;
    width: 300;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    /* padding: 20px; */
    padding-top: 80px;
    padding-right: 70px;
}