.card{
    color: black;
    background-color: lightgray;
    width: 300;
    /* margin */
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    /* border */
    border: 5px solid black;
    border-radius: 20px;

    /* padding */
    padding: 20px;
}

button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #cfd9de;
    color: #0f1419;
    background-color: white;
    border-radius: 25px;
    font-weight: bold;
    
}