body{
    text-align: center;
}
h1{
    color: goldenrod
}
button{
    width: 150px;
    padding: 10px;
    font-weight: bold;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    
}