a{
    background-color: pink;
    display: block;
    text-align: center;
    height: 100px;
    color: white;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 10px;
    padding-top: 50px;
    text-decoration: none;
}

a:hover{
    background-color: rgb(250, 110, 133);
}