.main{
    margin-top: 100px;
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    display: block;
    width: 300px;
    margin-bottom: 30px;
}

.message{
    display: block;
    width: 300px;
}