.main{
    margin-top: 100px;
}

.logo{
    display: block;
    width: 300px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.search_input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* height: 30px; */
    background-color: #dfe1e5;
    border: 1px ;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;

}