body{
    margin-top: 50px;
    display: block;
    text-align: center;
    border: 2px solid black;
    padding: 50px;
}

button{
    background-color: rgb(114, 21, 21);
    padding: 20px;
    font-size: xx-large;
    color: white;
}