body{
    margin-top: 50px;
    display: block;
    text-align: center;
    border: 2px solid black;
    padding: 50px;
}

button{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    font-size: xx-large;
    color: white;
    margin: auto;
    border-radius: 5px;
}

#increment-btn{
    background-color: rgb(114, 21, 21);
    margin-bottom: 10px;
    width: 250px;
}

#save-btn{
    background-color: green;
    width: 250px;
}