/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
    background: lightblue;     /* red, blue, yellow, etc */
    color: blue;             /* red, blue, yellow, etc */
    font-size: 80px;        /* 0px - 100px and beyond */
    font-weight: bold;   /* lighter, normal, bold  */
    text-align: center;      /* left, center or right  */ 
    margin-top: 105px;        /* From 0px and upwards   */
}





